:root {
    --primary-item: #e6bb76;
    --background-item: #EFEFEF;
    --gray: #D5D4D5;
    --background: transparent !important;
    --item-non-hover: #e0e0e0;
}

.table-container,
#total-revenue,
.table-container2,
.graph-container1,
#top-products,
.table-container3,
.graph-container2,
#total-revenue-country,
.table-container4,
.graph-container4,
#howitworks,
#close-button,
#toggle-button,
#ivanlunadev,
#user-agreements,
#c-footer {
    display: none;
} 


.animated-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -490px 0
    }
    100%{
        background-position: 490px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: transparent;
    background-image: -webkit-gradient(linear, left center, right center, from(#ebebeb), color-stop(.2, #e1e1e1), color-stop(.4, #ebebeb), to(#ebebeb));
    background-image: -webkit-linear-gradient(left, #ebebeb 0%, #e1e1e1 20%, #ebebeb 40%, #ebebeb 100%);
    background-size: 980px 898px;
    height: 1200px;
    position: relative;
}


#dynamic-content-container .loader {
    color: black;
    font-size: 24px;
    margin: 0 auto;
    width: 80px;
    aspect-ratio: 1;
    display: grid;
    max-width: 80%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

  .loader::before,
  .loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#6b6b6b 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
  }
  
  @keyframes l12 { 
    100%{transform: rotate(.5turn)}
  }

@font-face {
    font-family: 'Verdante Sans Bold';
    src: url('/static/fonts/VerdanteSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdante Sans Regular';
    src: url('/static/fonts/VerdanteSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.paragraph {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading-4 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

body {
    font-family: 'Verdante Sans Regular', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

a[data-translate="User Agreements"],
a {
    color: inherit;
    text-decoration: none;
}

a[data-translate="User Agreements"]:hover,
a:hover {
    text-decoration: underline;
}

h1,
h2 {
    color: #333;
    padding: 10px;
    text-align: center;
    font-family: 'Verdante Sans Bold', sans-serif;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(24, 24, 25, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.navbar button {
    margin-bottom: 10px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#languageDropdown {
    padding: 8px;
    position: absolute;
    top: 120px;
    right: 35px;
    text-align: center;
    color: #ffffff;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(68, 68, 68, 0.6);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10%;
}

label[for="languageDropdown"] {
    display: none;
}

#user_agreements {
    text-align: center;
    margin-right: 40px; 
    margin-left: 40px;
}

#user_agreements .table-container {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    overflow-x: scroll;
}



.navbar .accordion-container {
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    width: 100%;
}

.navbar h1 {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

#dark-mode-icon {
    display: none;
}

.dark-mode-icon .dark-mode {
    display: inline;
}

#dark-mode-icon,
#light-mode-icon {
    width: 50px;
    height: 40px;
    margin-right: 8px;
    filter: invert(100%);
}

#toggle-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 135px;
    top: 102px;
}

* {
    box-sizing: border-box;
}

.accordion-container {
    min-width: 100px;
    padding: 16px;
    border-radius: 16px;
    overflow: hidden;
    background-color: transparent !important;
}

.main-item {
    border-radius: 8px;
    padding: 3px;
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    letter-spacing: 2px;
    justify-content: start;
    gap: 8px;
    transition: all ease-in-out 0.25s;
    color: var(--item-non-hover);
}

.main-item:hover {
    background-color: transparent !important;
    color: var(--primary-item);
}

.main-item svg {
    stroke: var(--item-non-hover);
    transition: all ease-in-out 0.25s;
}

.main-item:hover svg {
    stroke: var(--primary-item);
}

.main-item--open {
    border-radius: 8px;
    background-color: transparent !important;
    transition: all 200ms;
    color: var(--primary-item);
}

.main-item--open:hover {
    color: var(--primary-item);
    border-radius: 8px;
    background-color: transparent !important;
}

.main-item--open svg {
    stroke: var(--primary-item);
}

.accordion-container > ul {
    max-height: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 14px;
    opacity: 0;
    font-size: smaller;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
}

.main-item--open + ul {
    visibility: visible;
    max-height: 290px;
    padding-left: 22px;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion-container > ul > li {
    height: 24px;
    display: flex;
    margin-right: 10px;
    width: 100%;
    align-items: center;
}

.accordion-container > ul > li > a {
    color: var(--item-non-hover);
    padding: 8px 4px;
    height: 19px;
    line-height: 19px;
    display: flex;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
}

.accordion-container > ul > li:hover {
    color: var(--primary-item);
    cursor: pointer;
    font-weight: 700;
}

.accordion-container > ul > li:hover > a {
    color: var(--primary-item);
    background-color: transparent !important;
    width: 100%;
}

.expand-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.main-item--open > .expand-icon {
    transform: rotate(-90deg);
}

.line-vertical {
    display: block;
    background-color: var(--background-item);
    width: 2px;
    height: 24px;
}

.accordion-container > ul > li:last-child > .line-vertical {
    height: 12px;
    align-self: flex-start;
}

.line-horizontal {
    display: block;
    background-color: var(--background-item);
    height: 1px;
    min-width: 6px;
}

.table-container,
.table-container2,
.table-container3,
.table-container4 {
    width: 93%;
    margin-top: 20px;
    margin-left: 35px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dynamic-content-container {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    max-width: 800px;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body.dark-mode {
    background: #141820;
    color: #99A3B8;
}

body.dark-mode table {
    background: linear-gradient(to right, #000000, #a3a3a3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode tr {
    background-color: #171C26;
}

body.dark-mode th {
    color: #99A3B8;
}

body.dark-mode h1 {
    color: #d3d6de;
}

body.dark-mode h2 {
    color: #99A3B8;
}

.graph-container1,
.graph-container2,
.graph-container4 {
    text-align: center;
}

.graph-container1 img,
.graph-container2 img,
.graph-container4 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#footer-button,
#close-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#footer-button.light-mode {
    color: #fff;
}

#close-button.light-mode {
    background-color: #e74c3c;
    color: #fff;
}

#footer-button:hover,
#close-button:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.05);
}

#footer-button.dark-mode,
#close-button.dark-mode {
    background-color: #99A3B8;
    color: #fff;
}

#footer-button.dark-mode:hover,
#close-button.dark-mode:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.05);
}



footer {
    visibility: hidden; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(24, 24, 25, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    box-sizing: border-box;
}


.footer-card a {
    text-decoration: none;
}

.footer-card {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.user-agreements {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Verdante Regular', sans-serif;
}

.footer-menu {
    margin-bottom: 1rem;
}



footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    cursor: pointer;
    margin-right: 1rem;
}

footer p {
    margin: 0;
}

.wrapper {
    overflow-y: auto;
    max-height: 650px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer-card {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(24, 24, 25, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.socials-container {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
}

.ivanlunadev-link,
.ivanlunadev,
.github-link,
.linkedin-link {
    text-decoration: none;
    color: inherit;    
}


.ivanlunadev-link:hover,
.ivanlunadev,
.github-link:hover,
.linkedin-link:hover {
    color: white;
}


.paragraph-link {
    color: white; 
}


.button-back {
    display: inline-block;
    padding: 10px 20px;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: #747475;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-back:hover {
    background-color: #484848;
    text-decoration: none;
}



@media screen and (min-width: 250px) and (max-width: 315px) {
    .navbar h1 {
        text-align: center;
    }
    .wrapper {
        padding-top: 140px;
    }
}


@media screen and (min-width: 511px) and (max-width: 767px) {
    #toggle-button {
        margin-bottom: 100px;
    }

    #languageDropdown {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #toggle-button {
        margin-right: -130px;
        margin-top: 55px;
    }

    #languageDropdown {
        margin-right: 80px;
        margin-bottom: 50px;
    }
    .navbar .accordion-container {
        margin-top: 20px;
    }

    .wrapper {
        padding-top: 100px;
    }
    #dynamic-content-container{
        padding-top: 120px;
        padding-bottom: 85px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #toggle-button {
        margin-right: -125px;
        margin-top: 40px;
    }
    #languageDropdown {
        margin-right: 105px;
    }
    .wrapper {
        padding-top: 80px;
    }
    #dynamic-content-container{
        padding-top: 120px;
        padding-bottom: 85px;
    }
}

@media screen and (min-width: 425px) and (max-width: 510px) {
    #toggle-button {
        margin-top: 38px;

    }
    #languageDropdown {
        margin-top: 38px;
    }
    
}


@media screen and (min-width: 425px) and (max-width: 767px) {
    #toggle-button {
        margin-right: -20px;

    }
    #languageDropdown {
        margin-right: -15px;
    }
    .wrapper {
        padding-top: 100px;
    }
    #dynamic-content-container{
        padding-top: 120px;
        padding-bottom: 85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #dynamic-content-container{
        padding-top: 100px;
        padding-bottom: 85px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
    #dynamic-content-container{
        padding-top: 100px;
        padding-bottom: 85px;
    }
}


