<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon-192.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='images/favicon-180.png') }}">
    <title data-translate="E-Commerce Data Analysis - User Agreements">E-Commerce Data Analysis - User Agreements</title>
</head>
<body>
    <div class="navbar">
    <h1 id="navbar-h1" data-translate="User Agreements - Terms - Privacy Policy">User Agreements - Terms - Privacy Policy</h1>
    </div>
        <section id="user_agreements">
            <div class="wrapper" style="margin-top:120px; margin-bottom:120px;"        
                    <div class="table-container">
                        <h3 class="heading-4" data-translate="1.Project Usage" >1.Project Usage</h2>
                        <p class="paragraph"  data-translate="project_usage_description">
                            This demonstrative technical project, provided without any warranty, is intended solely for personal immediate online viewing, for non-commercial and non-profit purposes. For any other use, permission is required. Please read this entire agreement before using this project.

                            By accessing or using this project, including its domain name(s) or IP address(es), content, or any interaction (such as clicking on links), you acknowledge and declare that you accept this user agreement.

                            Your access and use indicate your acknowledgment, acceptance, and unconditional agreement with all the terms and conditions set forth herein without modification, and this agreement takes effect immediately. To decline, simply refrain from using and close all windows of this project. However, you may not access or use this project if you (or your guardian or legal representative) cannot enter into a binding contract or in any jurisdiction where this user agreement is unenforceable.

                            You agree that your use constitutes acknowledgment that you have read, understood, and accepted all the terms. If you are the owner or operator of the equipment used to access this project, by allowing such use, you consent and agree to be bound by the terms and conditions of this User Agreement. If you are acting on behalf of organization(s), you represent that you are authorized to act as an agent and accept this user agreement on behalf of your employer and organization(s).

                            You agree to use the project solely in accordance with these Usage Rights and all applicable laws and regulations. You may not:
                            <br>
                            -Copy, modify, or distribute the project unauthorized.
                            <br>
                            -Attempt to bypass the project’s security measures.
                            <br>
                            -Use the project in a manner that may harm it or affect its performance.
                            <br>
                            -Reverse engineer, decompile, or disassemble the project.
                            <br>
                        </p>
                
                        
                
                        <h3 class="heading-4" data-translate="2.Permitted Use">2.Permitted Use</h3>
                        <p class="paragraph"  data-translate="permitted_use_description">
                            You are permitted to use the project for personal, non-commercial purposes. Any other use without explicit written permission from ivanluna.dev is prohibited.
                        </p>
                
                        <h3 class="heading-4" data-translate="3.Project Usage Disclaimer">3.Project Usage Disclaimer</h3>
                        <p class="paragraph" data-translate="project_usage_disclaimer_description">
                            The project is provided on an “as-is” and “as-available” basis. ivanluna.dev makes no warranties, expressed or implied, regarding the functionality, accuracy, or availability of the project.
                        
                            Additionally, the visual data presented in this project is generic and serves as an example and demonstration. Transactions, orders, and addresses are fictitious and are purely for demonstrating the retrieval functionality using this implementation from various sources and languages. It is crucial to understand that these visual elements are not real and are included solely for illustrative purposes.

                            It is emphasized that we do not assume responsibility (in case the user decides to use this implementation) for the misuse of payment processing, charging, refunds, nor for any data leaks. These aspects are solely the responsibility of the user, and we disclaim any liability for any improper utilization of these functionalities.
                        
                            Furthermore, in the event of any hacking attack, security breach, or unauthorized access to the project, Iván Luna or ivanluna.dev shall not be held responsible for any damages, losses, or disruptions caused thereby. Users acknowledge and agree that the security of the project may be compromised, and they use the project at their own risk in such circumstances. We take extensive and continuous measures to secure the project, but we do not guarantee absolute security.
                        
                            The online security landscape is challenging, and no system can claim complete immunity from risks. Feel confident that our primary goal is to safeguard the integrity of the web app and your experience with it. Your trust is of utmost importance, and we are committed to ensuring a secure environment for your use.
                        
                            It is essential for users to take precautions such as securing login credentials and using updated and secure devices and networks. In the unlikely event of any security incident, we will promptly investigate, take necessary actions, and keep you informed.
                        
                            This disclaimer extends to any potential impact on user data, system integrity, or the overall performance of the project resulting from external malicious activities. Users are advised to use the project with awareness of potential security risks and take necessary measures to protect their data and devices.
                        
                        </p>
                        <h3 class="heading-4" data-translate="4.This Project Is An Implementation">4. This Project Is An Implementation</h3>
                        <div data-translate="impl">
                            <p class="paragraph" >
                            This project serves as a demonstrative showcase, highlighting the technical prowess of the developer, Iván Luna. For detailed insights, please visit
                            <a class="paragraph"  href="https://ivanluna.dev" target="_blank">ivanluna.dev</a>.
                            This project represents an implementation derived from two projects initiated by 'Code With Antonio': 
                            <a class="paragraph"  href="https://github.com/antonioerdeljac/next13-ecommerce-admin" target="_blank">next13-ecommerce-admin</a> and 
                            <a class="paragraph"  href="https://github.com/antonioerdeljac/next13-ecommerce-store" target="_blank">next13-ecommerce-store</a>.
                        </p>
                        <p class="paragraph" >The data used in this project is not directly sourced from Antonio's projects. Instead, Antonio's projects serve as the foundation for this implementation. Specifically, we utilize data generated by Iván Luna based on Antonio's base projects. It's crucial to highlight that the data obtained through Clerk authentication or the Planet Scale database, along with other analyzed data, is from personal nature and does not influence Antonio's projects or the data of any external entity or individual, except for Iván Luna.</p>

                        <p class="paragraph" ><strong>Technical Specification:</strong> This project intricately relies on the foundational projects by Antonio, 'ecommerce-admin,' and 'ecommerce-store.' Its seamless functionality is made possible through the utilization of these projects, with the user initiating the process by cloning the repositories of 'ecommerce-admin' and 'ecommerce-store.'</p>

                        <p class="paragraph" >In the 'ecommerce-admin' instance, the user crafts their store, and 'ecommerce-store' serves as the client interface for customers. The project's core functionality depends on retrieving data from the user who created the store and the orders received by that store. Notably, this project deals exclusively with user-specific data, ensuring it doesn't involve general data, external entities, or individuals.</p>

                        <p class="paragraph">From a technical standpoint, user account creation and store establishment in 'ecommerce-admin' results in data storage in the Clerk database. Similarly, Planet Scale stores data related to products, stores, and orders received by store managers. It is crucial to clarify that while the implementation doesn't address general aspects—for instance or access external store data, the user can perform retrieval operations. Through this implementation, users can access comprehensive data, including all store managers, stores, products, received orders, and comparative information such as charts and analyses.</p>
                        <p class="paragraph"><em>Disclaimer:</em> The developer does not assume responsibility for any misinterpretation of the project's objectives or misuse of the data. Users are strongly encouraged to accurately comprehend the intended purpose of the project. The implementation places the sole responsibility on the user to use it responsibly. We disclaim any liability for improper use or misinterpretation of this implementation.</p>
                        <p class="paragraph">Gratitude is extended to Code With Antonio for providing the inspiration, and I cordially invite you to explore the comprehensive tutorial crafted by Antonio illustrating the construction of a full-stack e-commerce system with a dashboard and CMS using Next.js, which were the foundation of this project: <a href="https://www.codewithantonio.com/projects/ecommerce" target="_blank">Code With Antonio Tutorial</a>.</p>
                        </div>
                        <h3 class="heading-4" data-translate="5.Information We Collect">5.Information We Collect</h3>
                        <p class="paragraph" data-translate="information_collect_description">
                            ivanluna.dev may collect and store certain information about your usage of the project. This may include but is not limited to, non-personal information such as device type, browser type, and usage patterns. Our Privacy Policy (see Section 8) outlines how this information is handled.
                        </p>
                

                
                        <h3 class="heading-4" data-translate="6.Modifications and Termination">6.Modifications and Termination</h3>
                        <p class="paragraph" data-translate="modifications_termination_description">
                            ivanluna.dev reserves the right to modify, suspend, or terminate the project at any time without prior notice.
                        </p>

                
                        <h3 class="heading-4" data-translate="7.Limitation of Liability">7.Limitation of Liability</h3>
                        <p class="paragraph" data-translate="limitation_of_liability_description">
                            Iván Luna or ivanluna.dev shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use the project.
                        </p>

                
                        <h3 class="heading-4" data-translate="8.Privacy Policy">8.Privacy Policy</h3>
                        <p class="paragraph" data-translate="privacy_policy_description">
                            By using our project, you agree to the use of cookies. Our Cookies Policy provides details on what cookies are, how we use them, the involvement of third-party partners, your cookie choices, and additional information. Cookies are small text pieces sent to your web browser from a visited project. They are stored in your browser, enabling the project or third-parties to recognize you, simplifying your subsequent visits and enhancing the project’s utility.

                            During your use of the project, we may place various cookie files in your web browser, serving the purposes of enabling specific project functions and providing analytics to enhance user experience. We employ both session and persistent cookies for essential and analytics purposes.

                            In addition to our own, we may utilize third-party cookies for reporting project usage statistics, delivering advertisements, etc. If you wish to delete or refuse cookies, consult your browser’s help pages. Note that such actions may limit features, preference storage, and page display. For popular browsers such as Google Chrome, Internet Explorer, Mozilla Firefox, and Safari, specific instructions can be found on their respective support pages. Explore allaboutcookies.org and networkadvertising.org Initiative for comprehensive insights.
                        </p>

                        <h3 class="heading-4" data-translate="9.Contact">9.Contact</h3>
                        <p class="paragraph" data-translate="contact_description">
                            For any inquiries or concerns regarding these user agreement, terms and conditions or privacy policies, please contact us at contact@ivanluna.dev.
                        </p>
                    </div>
            </div>
        </section>
        </section>
        <div class="footer-card">
            <br>
            <div id="socialsContainer" class="socials-container">
                <a href="#" onclick="closeHtmlAndRedirect();" class="button-back" data-translate="Back">Back</a>
                <br>
                <br>
                <a class=ivanlunadev-link href="https://ivanluna.dev" target="_blank" rel="noopener noreferrer">
                    IVANLUNA.DEV
                </a>
                <label>-</label>
                <a class=github-link href="https://github.com/imprvhub" target="_blank" rel="noopener noreferrer">
                    GITHUB
                </a>
                <label>-</label>
                <a class=linkedin-link href="https://linkedin.com/in/ivanluna-dev" target="_blank" rel="noopener noreferrer">
                    LINKEDIN
                </a>
            </div>
            <br>
            <div class="paragraph">
                © 2024 Iván Luna. Software Developer.
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
        <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</body>
</html>
